h1 {
    color: green;
}

h2 {
  text-align: center;
  padding: 20px 0;
}

.table-bordered {
  border: 1px solid #000 !important;
}

table caption {
	padding: .5em 0;
}

table {
  border-collapse: collapse;
}

th, td {
    border: 2px solid #000 !important;
    padding: 2px;
}

@media screen and (max-width: 767px) {
  table caption {
    display: none;
  }
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}

.container{
    display: flex;
}

#cont_v {
  height: 100%;
  flex-direction: column;
  overflow: clip;
}

#cont_h {
  flex-direction: row;
  flex-grow: 1;
}

#map {
  /* height: 360px; */
  height: 100%;
  min-height: 100px;
  width: 80%;
  /* margin-right: 140px; */
}

#controls {
  /* float: right;
  width: 120px; */
  min-width: 11em;
  margin-left: 0.5em;
  flex-grow: 1;
  display: flex;
}

#item_count {
  flex-grow: 1;
  margin-left: 0.5em;
  width: 4em;
}

#example-table {
  width: 100%;
  height: calc(100% - 200px);
  max-height: 50%;
  /* height: 400px; */
  min-height: 160px;
  overflow: clip;
  /* flex-grow: 0; */
}

#footer {
  height: 2em;
  padding: 2px;
}