<html>
  <head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet" />
  </head>
  <body>
    <h1>GPS Data</h1>
    <table>
      <tr>
        <td>Data ID</td>
        <td>Client ID</td>
        <td>Sensor</td>
      </tr>
      {% for gpsdata in lastitems %}
      <tr>
        <td>{{gpsdata["data_id"]}}</td>
        <td>{{gpsdata["pushlight_client_id"]}}</td>
        <td>{{gpsdata["sensor"]}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
